@import "tailwindcss";

@theme {
  --color-brand-gradient-start: #3a1c71;
  --color-brand-gradient-middle: #d76d77;
  --color-brand-gradient-end: #ffaf7b;
}

@layer utilities {
  .bg-primary-gradient {
    background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
  }

  .animate-shimmer {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }

  .gradient-border-lg {
    border: 2px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image:
      linear-gradient(#f9fafb, #f9fafb),
      linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b, #d76d77, #3a1c71);
    background-size:
      100% 100%,
      200% 100%;
    animation: border-slide 4s linear infinite;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes border-slide {
  0% {
    background-position:
      0% 0,
      0% 0;
  }
  100% {
    background-position:
      0% 0,
      200% 0;
  }
}

button,
a,
select {
  cursor: pointer;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
